<!-- /templates/customers/order.liquid -->
<div class="container my-5">
  <h1 class="lead mb-4 text-size-5" style="width: fit-content;">Order {{order.name}}</h1>
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card p-0 mb-4 ">
        <div class="card-header">Billing Address</div>
        <div class="card-body">
          <p><span>Payment Status:</span> <span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></p>
          <p>{{ order.billing_address.name }}</p>
          <p>{{ order.billing_address.company }}</p>
          <p>{{ order.billing_address.street }}</p>
          <p>{{ order.billing_address.city }}, {{ order.billing_address.province }}</p>
          <p>{{ order.billing_address.country }} {{ order.billing_address.zip }}</p>
          <p>{{ order.billing_address.phone }}</p>
        </div>
      </div>
      <div class="card  p-0">
        <div class="card-header">Shipping Address</div>
        <div class="card-body">
            <p><span>Fulfillment Status:</span><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></p>
            <p>{{ order.shipping_address.name }}</p>
            <p>{{ order.shipping_address.company }}</p>
            <p>{{ order.shipping_address.street }}</p>
            <p>{{ order.shipping_address.city }}, {{ order.shipping_address.province }}</p>
            <p>{{ order.shipping_address.country }} {{ order.shipping_address.zip }}</p>
            <p>{{ order.shipping_address.phone }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
            <tr>
              <td>{{ line_item.title | link_to: line_item.product.url }}</td>
              <td>{{ line_item.sku }}</td>
              <td>{{ line_item.original_price | money }}</td>
              <td>{{ line_item.quantity }}</td>
              <td>{{ line_item.line_price | money }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">Subtotal</td>
            <td>{{order.line_items_subtotal_price | money}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

