<section class="container">
    <h2 style="color: #4b4e6d; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" class="text-center my-5  ">{{section.settings.title}}</h2>
    <div class="row justify-content-center gap-4">
        {% for product in collections[section.settings.featured_collection].products %}
        <div class="card p-0" style="width: 18rem;" >
        {% assign image = product.featured_media.preview_image %}
        <div class="col">
            {% if image != blank %}
            <img class="card-img-top" src="{{ image | img_url:"master"}}"/>
            {% else %}
            {{'product-1' | placeholder_svg_tag:"card-img-top "}}
            {% endif %}
            <div class="card-body d-flex flex-column align-items-center">
            <h6 class="text-center">{{product.title}}</h6>
            <span class="row">
                <p class="text-decoration-line-through border-width-2 border-dark border-end" style="width: fit-content;">{{product.compare_at_price | money}}</p>
                <p style="width: fit-content;">{{product.price | money}}</p>
            </span>
            <a class="btn rounded-0 border border-dark" href="{{product.url}}">Add to cart</a>
            </div>
        </div>
    </div>
    
    {% endfor %}
</div>
</section>

{% schema %}
{
   "name": "Featured Collection",
  "class": "featured-collection-section",
 "settings": [
    {
       "type": "collection",
       "id":"featured_collection",
       "label":"Collection"
    },
    {
       "type": "text",
       "id":"title",
       "default":"Featured Collection",
       "label":"Title"
    }
 ],
"presets": [
    {
        "category": "Collection",
        "name":"Featured Collection"
    }
]
}
{% endschema %}