<section class="inner-hero-section">
    {% if section.settings.image != blank %}
        <!-- <img class="image image-center" src="{{section.settings.image | img_url:"master" }}" alt="{{section.settings.image.alt}}" /> -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="{{section.settings.image | img_url:"master" }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="{{"keyboard.jpg" | asset_img_url: 'master'}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="{{"yes_no.jpg" | asset_img_url: 'master'}}" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    {% else %}
        {{'lifestyle-1' | placeholder_svg_tag: "placeholder_svg" }}    
    {% endif %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 style="color:white;">{{section.settings.title}}</h1>
                <span style="color:white; font-size: 22px;">{{section.settings.description}}</span>
                <a class="btn btn-secondary p-1" href="{{section.settings.button_link}}">{{section.settings.button_label}}</a>
            </div>
        </div>
    </div>
</section>



{% schema %}
{
   "name": "Hero",
   "class": "hero-section",
   "settings": [
    {
       "type": "image_picker",
       "id":"image",
       "label":"Heading Background Image"
    },
    {
       "type": "text",
       "id":"title",
       "default": "Example Heading",
       "label":"Heading Title"
    },
    {
       "type": "richtext",
       "id":"description",
       "default": "<p>Write the description</p>",
       "label":"Description"
    },
    {
       "type": "text",
       "id":"button_label",
       "default": "Shop now",
       "label":"Heading Button Label"
    },
    {
       "type": "url",
       "id":"button_link",
       "label":"Heading Button Link"
    }
 ],
"presets": [
    {
        "category": "Hero",
        "name":"Simple Hero"
    }
]
}
{% endschema %}
