{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <img class="img-fluid " src="{{product_image | img_url : "large"}}" alt="{{product_img.alt}}" id="productMainImage"/>
      {% for image in product.images %}
        <img src="{{image.src |img_url : "small" }}" alt="{{image.alt}}"/>
      {% endfor %}
    </div>
    <div class="col-md-6 col-12">
      <h1>{{product.title}}</h1>
      <p>{{product.description}}</p>
      <p>{{current_product.price | money}}</p>

      {% form 'product', product, class:"product-form", id:"AddToCartForm" %}
        <select name="id" id="productSelect" class="form-select">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option value="{{variant.id}}">{{variant.title}}</option>
            {% else %}
              <option value="{{variant.id}}" disabled>{{variant.title}}</option>
            {% endif %}
          {% endfor %}

        </select>
        <div class="mt-3 mb-3">
          <input type="number" class="form-control" name="quantity" id="Quantity" value="1" min="1"/>
        </div>
        
        <button type="submit" name="add" id="AddToCart" class="btn btn-secondary w-100 rounded-0" >Add To Cart</button>
        {% if section.settings.DynamicButtonCheckbox %}
            {{form | payment_button  }}
        {% endif %}
      {% endform %}

    </div>
  </div>
</div>


{% schema %}
{
   "name": "Product Pages",
  "settings": [
   {
        "type": "checkbox",
        "id" :"DynamicButtonCheckbox",
        "label":"Enable Dynamic Button",
        "default": false
    }

  ]
}
{% endschema %}