<div class="container">
  {% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
      {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}
      <!-- <a href="{{ collection.url }}">More {{ collection_title }} &rsaquo;</a> -->
      <div class="w-100 col align-items-center g-2">
        <h1 style="width: fit-content;" class="my-4">{{collection.title}}</h1>
        <div class="row w-100">
          {% for product in collection.products limit:5 %}
            {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
            {% assign image = product.featured_media.preview_image %}
            <div class="col-3 g-2">
               <div class="card p-0" style="width: 18rem;" >
                  <div class="col">
                      <img class="card-img-top" src="{{ image | img_url:"master"}}"/>  
                      <div class="card-body d-flex flex-column align-items-center">
                      <h6 class="text-center">{{product.title}}</h6>
                      <span class="row">
                          <p class="text-decoration-line-through border-width-2 border-dark border-end" style="width: fit-content;">{{product.compare_at_price | money}}</p>
                          <p style="width: fit-content;">{{product.price | money}}</p>
                      </span>
                      <a class="btn rounded-0 border border-dark" href="{{product.url}}">Add to cart</a>
                      </div>
                  </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <a href="{{collection.url}}" class="btn btn-primary btn-lg my-3">More {{product.title}}</a>
      </div>
    {% endunless %}
  {% endfor %}
</div>

