<div class="container">
  {% if cart.item_count > 0 %}
      <form class="row">
        <div class="col-12 col-md-8">
          <div class="card shadow">
            <div class="card-body">
              <table class="table table-borderless">
                <thead>
                  <th colspan="2">Prod</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>total</th>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                    <tr>
                      <td>
                        <a href="{{ item.url | within: collections.all }}">
                          <img src="{{ item | img_url: 'small' }}" alt="{{ item.title | escape }}">
                        </a>
                      </td>
                      <td>
                        <a href="{{ item.url }}">{{ item.product.title }}</a>
                        <p class="small">
                          {{ item.variant.title }}
                        </p>
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn-secondary">remove</a>
                      </td>
                      <td>{{ item.price | money }}</td>
                      <td>
                        <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" >
                      </td>
                      <td>
                        {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                        {{ item.line_price | money }}
                        {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4" >
          <div class="card shadow">
            <div class="card-body">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when "cart_total" %}
                    <p>Total amout:</p>
                    <p>{{ cart.total_price | money }}</p>
                  {% when "cart_checkout_btn" %}
                    <div class="d-grid gap-2">
                      <button type="submit" class="btn btn-primary" name="update">Update</button>
                      <button type="submit" class="btn btn-primary" name="checkout">Checkout</button>
                    </div>
                  {% else %}
                {% endcase %}
              {% endfor %}
                </div>
              </div>
            </div>
          </form>
  {% else %}
    <h2>cart</h2>
    Cart is empty
  {% endif %}
</div>

{% schema %}
{
   "name": "Template Cart",
   "tag":"section",
   "blocks":[
        {
            "type":"cart_total",
            "name":"Cart total",
            "limit": 1
        },
        {
            "type":"cart_checkout_btn",
            "name":"Cart Checkout Btn",
            "limit": 1
            
        }
   ]
}
{% endschema %}